.container {
  flex-direction: row;
}

.navbar {
  margin-left: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form input {
  height: 28px;
  font-size: 18px;
  color: #333;
  padding: 6px;
}

.form .title-input {
  color: #888;
  margin: 20px 0 6px 0;
}
