input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  flex-direction: row;
}

.navbar {
  height: 100%;
    box-shadow: 1px 0 1px 0px;
    margin: 48px 0 0 49px;
    padding-right: 40px;
}

.form {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}

.form input {
  height: 28px;
  font-size: 18px;
  color: #333;
  padding: 6px;
}

.form .title-input {
  color: #666;
  margin: 20px 0 6px 0;
  display: flex;
  flex-direction: column;
}

.title-input.check {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.title-input.check input {
  margin-right: 5px;
  width: 15px;
}

.info {
  position: absolute;
  top: 130px;
  left: 350px;
}

.info-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info-output {
  align-items: center;
  display: flex;
}

.result {
  margin-left: 10px;
}