.container-img {
  display: flex;
  margin: 200px auto;
}

.img-mini {
  max-height: 160px;
  margin: auto;
  border: 0.1px solid black;
  transition: transform 0.6s;
}
/* 
.img:hover {
  transform: scale(1.5);
} */

.scale-2 {
  transform: scale(2);
}

.scale-3 {
  transform: scale(3);
}

.scale-4 {
  transform: scale(4);
}

.scale-5 {
  transform: scale(5);
}

.scale-6 {
  transform: scale(6);
}

.scale-7 {
  transform: scale(7);
}

.scale-8 {
  transform: scale(8);
}

.scale-9 {
  transform: scale(9);
}

.scale-10 {
  transform: scale(10);
}
